<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Incrementer</title>
</head>
<body>
    <section class="intro">
        <h1>Incrementer Component</h1>
        <p>Button set that allows user to increment / decrement initial numeric state</p>
    </section>
    <section>
        <div class="tsw-incrementor--counter-control">
            <button type="button" class="tsw-incrementor--btn-decrement" aria-label="decrement" aria-disabled="true">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"> <path d="M4.375 10.625V9.375H15.625V10.625H4.375Z"></path> 
                </svg>
            </button>
            <div aria-live="polite">
                <span class="tsw-incrementor--count" x-text="incrementorTracker.get('PHONES')">5</span>
                <span class="tsw-hidden"> number of lines </span>
             </div>
            <button type="button" class="tsw-incrementor--btn-increment" aria-label="increment"  aria-disabled="false">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"> <path d="M9.375 15.625V10.625H4.375V9.375H9.375V4.375H10.625V9.375H15.625V10.625H10.625V15.625H9.375Z"></path> 
                </svg>
            </button>
        </div>
    </section>
    <script type="module" src="index.js"></script>
</body>
</html>