<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Incrementer</title>
</head>
<body>
    <section class="intro">
        <h1>Incrementer Component</h1>
        <p>Button set that allows user to increment / decrement initial numeric state</p>
    </section>
    <section>
        <div class="tsw-wrapper"></div>
        <button>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"> <path d="M4.375 10.625V9.375H15.625V10.625H4.375Z"></path> 
            </svg>
        </button>
        <span x-text="incrementorTracker.get('PHONES')">5</span>
        <!-- <span class="phx:hide-visually"> number of lines </span> -->
        <button>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"> <path d="M9.375 15.625V10.625H4.375V9.375H9.375V4.375H10.625V9.375H15.625V10.625H10.625V15.625H9.375Z"></path> 
            </svg>
        </button>
    </section>
    <script type="module" src="index.js"></script>

    

</body>
</html>